*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}

.card.d-inline.p-4 {
    margin-left: 3px;
}

.card-body {
    display: inline-block;
}

body {
    background-color: #47acaf;
}

.container {
    background-color: whitesmoke;
}