body{
    margin:auto;

}

.title{
    color:white
}

.page{
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
}
#contactCard {width:100%;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
#contactCard:hover{
    margin-left:-70px;
}

h1{
    margin-left:10%;
}
.card {
    border: 1px solid teal;
}
.card-header {
    background-color: teal;
    color : white;
    height: 40px;
    padding-left:10%;
}

.card-body {
    height: 30px; 
    padding-left:10%;
    padding-top:3px;
}