{% extends 'base.html.twig' %}
{% block body %}

    <h1> Créer un nouveau contact </h1> 

    {{ form_start(formulaireAjout) }}
        {{form_widget(formulaireAjout) }}

    <input type="submit" value="Créer">
    {{ form_end(formulaireAjout) }}

        
{% endblock %}